body {
    font-family: "Georgia", serif;
    background: #9ca5f2;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.contenedor {
    width: 75%;
    max-width: 850px;
    text-align: center;
}

h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 40px;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fila {
    display: flex;
    gap: 20px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #c8c8c8;
    font-size: 15px;
    border-radius: 4px;
}

textarea {
    height: 140px;
    resize: none;
}

.boton {
    width: 260px;
    padding: 14px 0;
    margin: 20px auto;
    background: #4b18c2;
    color: white;
    border: 2px solid white;
    outline: 2px solid #1a044f;
    font-size: 15px;
    cursor: pointer;
}
.boton:hover {
    background: #a17759;
}
